/* General Body Styles */
body {
  background-color: #2485af;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  margin: 0;
  display: flex;
  flex-direction: column; /* Flex column layout to push footer down */
  min-height: 100vh; /* Ensure body takes full viewport height */
}

/* Navbar Styles */
.nav-bar {
  position: fixed; /* Ensure the navbar stays fixed */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2485af;
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  z-index: 1000; /* Ensure it stays above other content */
}

.nav-content {
  display: flex;
  justify-content: space-between; /* Align items to the edges */
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  max-width: 1200px; /* Optional: to align with other content width */
  margin: 0 auto; /* Center container */
}

.nav-logo img {
  width: 200px;
}

.nav-content nav {
  display: flex;
  justify-content: flex-end; /* Align navigation items to the right */
}

#menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
}

/* Hide nav-menu by default on mobile */
#nav-menu {
  display: none;
}

#nav-menu.show {
  display: block; /* Make it visible when the .show class is added */
}

/* Show nav-menu on larger screens */
@media (min-width: 1024px) {
  #nav-menu {
    display: flex;
  }
}

/* Main Content Padding */
main {
  padding-top: 80px; /* Adjust based on the height of the navbar */
  flex: 1; /* Ensure main content grows to fill available space */
}

/* Section Styles */
.profile, .about, .work, .hobby, .education, .places {
  background-color: #2485af;
  color: white;
  padding: 30px;
}

/* Footer Styles */
footer {
  background-color: #333; /* Adjust to your preferred footer color */
  color: white;
  text-align: center;
  padding: 10px;
}
