<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <!-- Preconnect to external resources -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body class="bg-gray-100 font-['Roboto'] text-gray-900">
    <header class="header-custom">
      <nav class="container mx-auto flex items-center justify-between p-4 relative">
        <a href="/" aria-label="Homepage">
          <div class="flex items-center">
            <img src="./static/img/logo.svg" alt="Logo" class="h-10" />
          </div>
        </a>
        <!-- Toggle Button for Mobile -->
        <button id="menu-toggle" class="lg:hidden text-gray-800">
          <span class="sr-only">Open menu</span>
          &#9776; <!-- Hamburger Icon -->
        </button>
        <!-- Navbar Menu -->
        <div id="nav-menu" class="hidden lg:flex flex-col lg:flex-row absolute lg:relative top-full lg:top-auto left-0 lg:left-auto bg-white lg:bg-transparent lg:flex lg:items-center w-full lg:w-auto lg:space-x-6 mt-2 lg:mt-0">
          {% include 'navbar.html' %}
        </div>
      </nav>
    </header>


    <main class="container mx-auto p-6">
      <section class="bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">{{ about.name }}</h1>
        <hr class="mb-6 border-gray-300" />
        <div id="about-yourself" class="text-lg text-gray-700">
          {{ about.info }}
        </div>
      </section>
    </main>

    <footer class="bg-gray-800 text-white py-4 text-center">
      <p>&copy; {{ current_year }} Robin Batingan. All rights reserved.</p>
    </footer>
    <script src="./static/js/script.js"></script>
  </body>
</html>
